<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attribute.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @attribute.level %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag(@attribute.avatar_url, :width => 300) if @attribute.avatar.present? %>
</p>

<p>
  <strong>Character:</strong>
  <%= @attribute.character %>
</p>

<%= link_to 'Edit', edit_attribute_path(@attribute) %> |
<%= link_to 'Back', attributes_path %>
