   <%= form_for @character do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
 
    <p>
      <%= f.label :avatar %><br>
      <%= f.file_field :avatar %>
    </p>
 
    <p>
      <%= f.submit %>
    </p>
  <% end %>  
 